/* .checked {
    color: orange;
  } */

  /* span:hover {
    color: gold;

} */
.icon-star {
  color: red;
}

body {
  background-color: white;
  height: 100%;
}

.container {
  background-color:lightblue;
}

html {
  height: 100%;
}
